<<<<<<< HEAD
@font-face {
    font-family: Cooper-Black;
    src: url(cooper-black.ttf);
}


body{
  font-family:Cooper-Black;
  text-align: center;
  margin: 0 auto;
}

.header{
  margin: 0 auto;
  font-size: 10rem;
  color:black;
  line-height: 1.35;
  opacity: 0.5;
}
.front{
  height:100vh;
  background-color: #c7b8ea;
}
.shake{

  margin:15px;
  font-size: 2.5em;
  color: white;
  text-align: center;
  background-color: black;
  opacity: 0.5;
  border-radius: 3px;
  padding: 25px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  text-decoration: none;
  -webkit-transition: all 2s ease;
  display:inline-block;
}

.shake:hover {
  animation: shake 0.85s;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

#slideshow {
  margin:0 auto;
  position: relative;
  width: 100%;
  height: 100vh;
  background-color:#73a6ad;
  display: flex;
  align-items: center;
  justify-content: center;
}

#slideshow > div {
  position: absolute;
  padding:30px;
  font-size: 4em;
  font-family: 'Courgette', cursive;
}

@media only screen and (max-width:425px){
.header{
  font-size:3em;
}
.shake{
  font-size: 1.5em;
}
#slideshow > div{
  font-size: 2em;
}
}

@media only screen and (min-width:426px) and (max-width:768px){
  .header{
    font-size:7em;
  }
#slideshow > div{
    font-size: 3em;
  }
  }
=======
@font-face {
    font-family: Cooper-Black;
    src: url(cooper-black.ttf);
}


body{
  background-color:  #e6e6e6;
  font-family:Cooper-Black;
  text-align: center;
  margin: 0 auto;
}

p{
  text-align: center;
  margin: 0 auto;
  font-size: 13.75em;
  color:grey;
  line-height: 1.35;
}

.shake{
  font-size: 2em;
  color: white;
  text-align: center;
  background-color: grey;
  border-radius:2px;
  padding:2%;
  width:20%;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  text-decoration: none;
}

.shake:hover {
  animation: shake 0.85s;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.gallery{
  clear: both;
  display: inline-block;
  width:100%;
  padding-top: 2%;
  margin: 0 auto;
}

.gallery a{
  display: block;
  height:100vh;
  background-color: blue;
  width:100%;
}
>>>>>>> 9e6f3debc9f94ba7445da94fef68e02af8516a6d
