/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  height:100%;
  font-family: 'Noto Sans', sans-serif;
  overflow-y: scroll;
}

.special{
  background-image: url("background.jpg");
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Special Elite', cursive;

}

.box{
  background-color: white;
  display: inline-block;
  text-align: center;
  position: relative;
  padding: 15px;
  border-radius: 10px;
  font-weight: bold;
  opacity: 1;
}

.parallax{
  background-image: url("school.jpg");
  height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Special Elite', cursive;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.parallax2{
  background-image: url("coding.png");
  height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Special Elite', cursive;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

hr{
  background-color: #eee;
  border: 0 none;
  color: #eee;
  height: 10px;
}

mark {
    background-color: yellow;
    color: black;
}
.nwhacks img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.nwhackspara {
  font-size: 20px;
}
.parallax3{
  background-image: url("volunteer.jpg");
  height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Special Elite', cursive;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.nav li.active a{
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

}

h2{
  font-weight: bold;
  color:purple;
}

.no-bulletpt{
   list-style-type: none;
}

li{
  padding-top:5px;
  line-height: 25px;
  font-size: 15px;
}

#contact h1{
    font-family: 'Special Elite', cursive;
}

#contact p{
    font-family: 'Permanent Marker', cursive;
    font-size: 35px;
}
.special p{
  font-size:100px;
}

.special a{
  color: black;
  text-decoration: none;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.row,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  position: sticky;
  top: 0px;
  z-index: 5;
  background-color: white;
}

.header a{
   text-decoration: none;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 5px;
  margin-bottom: 0;
  line-height: 40px;
  color:black;
  margin-right:5px;
  text-decoration:none;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  text-align: center;
}


.roles{
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 45px;
}

.roles a:hover{
  color:purple;
}
/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}


/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}


/* Supporting marketing content */
.row {
  margin: 40px 0;
}
.row p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .row,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


@media screen and (max-width: 768px) {
.special p{
  font-size: 100px;
}

.special{
  height:300px;
}

.roles{
  font-size: 25px;
}
}

/* for phones */
@media screen and (max-width: 425px) {
  #contact p{
      font-size: 6vw;
  }

  .roles{
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 15px;
  }
  .special p{
    font-size:50px;
}
  .special > .row{
    padding:0;
  }
  .special{
    height:200px;
  }
  .nwhacks img{
    width:90%;
  }
}
